@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  @apply block mb-1 ml-1 text-sm font-medium text-gray-900 dark:text-white;
}

.edit-title-container {
  @apply ml-4 mr-6 mb-2
    p-4
    text-white bg-slate-400 dark:bg-slate-900 rounded-lg 
    w-auto
    h-auto;
}

.edit-h1 {
  @apply text-slate-100
    dark:text-slate-50
    font-semibold
    text-lg
    /* flex justify-center items-center */
    pl-4
    pb-4;
}

.edit-input {
  @apply bg-gray-50
    border border-gray-300 
    text-gray-900 text-sm 
    rounded-md focus:ring-blue-500 focus:border-blue-500 
    block p-1.5 mb-4
    disabled:bg-slate-300
    dark:bg-gray-700 
    dark:border-gray-600 
    dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.thumbnail-button {
  @apply bg-slate-200 rounded-md p-0.5 mb-2
    text-slate-600;
}

.edit-title-grid {
  @apply grid gap-2 grid-cols-2 p-2;
}

.trending-checkbox-container {
  @apply bg-slate-200 rounded-md 
    flex pl-5 mt-4 p-2 w-auto h-auto;
}

.title-updated-message {
  @apply text-green-700 
    font-semibold
    bg-slate-100
    rounded-md
    p-2.5
    absolute bottom-4 right-6;
}

@media only screen and (min-width: 1200px) {
  .edit-title-grid {
    @apply grid gap-2 grid-cols-6 p-2;
  }

  /* .trending-checkbox-container{
        @apply
        p-2
    } */
}
