@tailwind components;

.menu{
    @apply
    bg-slate-800
    h-14
}

.nav-bar{
    @apply
    flex self-center ml-28 -mt-6
}

.logo{
    @apply
    flex
    pt-4 pl-6
}

.nav-icon{
    @apply
    mr-10
}

.nav-avatar{
    @apply
    w-8 h-8 rounded-full border-2 -mt-1.5
    text-white text-xs justify-center
    hover:border-blue-500
    hover:text-blue-500
}

.nav-avatar-name{
    @apply
    opacity-0
}

.logout-button{
    @apply
    text-white
    text-sm
    -mt-2.5
    hover:text-blue-500
    ml-1.5
}

@media only screen and (min-width: 500px) {
    .menu {
        @apply
        w-20 h-auto
        m-4
        rounded-2xl
        fixed
    }

    .nav-bar{
        @apply
        grid grid-cols-1
        ml-8 mt-4
    }

    .nav-icon{
        @apply
        mt-8
    }

    .logo{
        @apply
        flex
        pt-6 pl-6
    }

    .nav-avatar{
        @apply
        /* absolute bottom-10 */
        -ml-2 mt-36 mb-4
    }

    .nav-avatar-name{
        @apply
        mt-2
        flex justify-center
        opacity-100
    }
}